*{
    padding: 0px;
    margin: 0px;
}

button:hover,h1:hover{
    transform: scale(1.1);
}
button:hover{
    background-color: #b2d1b6;
}

section.topContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
    margin-left: 35px;
    flex-wrap: wrap;
}

section.topContent .main-content {
    color: red;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
section.topContent .subContent {
    color : blue;
    font-size: 20px;
}
section.title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sub-title{
    color: red;
    text-align: center;
    margin-top: 20px;
}

section.topContent img {
    width: 100%;

}

section.topContent.topContentImg{
    width: 50%;
}
#contact {
    width : 500px;
}
@media only screen and (max-width: 500px) {
    #contact {
        width: 400px;
    }
}
