*{
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-size: 45px;
}
table{
    letter-spacing: 1px;
}
td{
    text-align: center;
}
button{
    border: none;
    background-color: red;
    color: #b0dbe8;
    transition: 1s;
}
@media only screen and (orientation: potrait){
    *{
        letter-spacing:  0.8px;
    }
}
